<header>
  <div class="header-container">

    <div class="logo">
      <a routerLink="/main">
      <img src="assets/logo.png" alt="logo" width="200px"></a>
          <div class = "opisanie">
      <a>Доставка цветов, шаров и подарков в Алматы</a>
          </div>

    </div>

    <div class = "user"><p><a routerLink="/login"><img src="assets/user.png" width="30"></a></p> </div>


    <div class="contact-info">
      <p>+7 (777) 777-77-77</p>
      <p><img src="assets/whatsapp.png" onclick="openWhatsAppLink()" style="cursor: pointer;" alt="WhatsApp" width="30" ></p>
      <p><img src="assets/insta.png" onclick="openInstagram()" style="cursor: pointer;" alt="Instagram" width="30"></p>
      <p><a routerLink="/cart"><img src="assets/cart.png" alt="Instagram" width="30"></a></p>
      
    </div>
  </div>

  </header>

  <router-outlet></router-outlet>