<header>
  <div class="header-container">
    <!-- Logo section -->
    <div class="logo">
      <a href="/"><img src="logo.png" alt="logo"></a>
      <span>Доставка цветов, шаров</span>
      <span>и подарков в Алматы</span>
    </div>
    <div class="contact-info">
      <p>+7 (777) 777-77-77</p>
      <p><a href="https://wa.me/7777777777" target="_blank"><img src="whatsapp.png" alt="WhatsApp"></a></p>
      <p><a href="https://instagram.com" target="_blank"><img src="insta.png" alt="Instagram"></a></p>
      <p>Корзина</p>
    </div>
  </div>
</header>

<div class="background-container">
  <div class="background-image">
    <span class="delivery-text">Доставка цветов <br> Алматы</span>
    <span class="freshness-guarantee">Гарантия свежести букета <strong>на 7 дней!</strong></span>
    <a href="https://wa.me/7777777777" target="_blank" class="button">
      <img src="whatsapp.png" alt="WhatsApp" style="vertical-align: middle;"> <strong>Перейти в чат</strong>
    </a>
  </div>
  <div class="pic-image"></div>
</div>

<div class="green-border">
  <p class="green-box">Розы</p>
  <p class="green-box">Пионы</p>
  <p class="green-box">Шары</p>
</div>





<div class="card">
  <a href="bouquet_details.html">
    <img src="flower1.webp" alt="Букет Волшебные касания">
  </a>
    <div class="card-info">
    <h3>Букет Волшебные касания</h3>
    <p>Рейтинг: <span class="stars">★★★★★</span> / 37</p>
    <div class="price">
      <span class="big-number">16 500</span> ₸
    </div>
    <div class="green-border">
      <div class="green-box buy-now">
        <span>Купить в 1 клик</span>
      </div>
      <div class="green-box add-to-cart">
        <span>В корзину</span>
      </div>
    </div>
        
  </div>
</div>

<div class="card">
  <img src="flower2.webp" alt="Букет Признание">
  <div class="card-info">
    <h3>Букет Признание</h3>
    <p>Рейтинг: <span class="stars">★★★★★</span> / 25</p>
    <div class="price">
      <span class="big-number">17 000</span> ₸
    </div>
    <div class="green-border">
      <div class="green-box buy-now">
        <span>Купить в 1 клик</span>
      </div>
      <div class="green-box add-to-cart">
        <span>В корзину</span>
      </div>
    </div>
        
  </div>
</div>

<div class="card">
  <img src="flower3.webp" alt="Букет Запах весны">
  <div class="card-info">
    <h3>Букет Запах весны</h3>
    <p>Рейтинг: <span class="stars">★★★★★</span> / 82</p>
    <div class="price">
      <span class="big-number">25 000</span> ₸
    </div>
    <div class="green-border">
      <div class="green-box buy-now">
        <span>Купить в 1 клик</span>
      </div>
      <div class="green-box add-to-cart">
        <span>В корзину</span>
      </div>
    </div>
        
  </div>
</div>

<div class="card">
  <img src="flower4.webp" alt="Букет Моя вселенная">
  <div class="card-info">
    <h3>Букет Моя вселенная</h3>
    <p>Рейтинг: <span class="stars">★★★★★</span> / 72</p>
    <div class="price">
      <span class="big-number">28 000</span> ₸
    </div>
    <div class="green-border">
      <div class="green-box buy-now">
        <span>Купить в 1 клик</span>
      </div>
      <div class="green-box add-to-cart">
        <span>В корзину</span>
      </div>
    </div>
        
  </div>
</div>
