img {
    width: 300px;
}

button {
    margin-bottom: 7px;
    margin-right: 10px;
}


.whatsapp {
    background-color: green;
}

.delete {
    background-color: rgb(182, 14, 14);
}

.list{
    padding: 50px;
}
