
<body>
  <div class="login-container">
    <form class="login-form">
      <h2>Регистрация аккаунта</h2>
      <input type="text" placeholder="Имя" required>
      <input type="text" placeholder="Фамилия" required>
      <input type="email" placeholder="Email" required>
      <input type="password" placeholder="Пароль" required>
      <input type="password" placeholder="Повторите пароль" required>
      <button type="submit">Зарегистрироваться</button>
    </form>
    <div class="link-to-register">
      <a href="/login">Уже есть аккаунт? Войдите здесь</a>
    </div>
  </div>
</body>

